---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
  const blogEntries = await getCollection('blog')

  return blogEntries.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title="Blog • Tobiasz Ciesielski">
  <a href="/blog" class="hover:underline text-sm text-gray-500">← Wróć</a>

  <h1 class="text-3xl tracking-wider mt-5 mb-10 text-center">
    {post.data.title}
  </h1>

  <Content />
</Layout>
