---
import { getCollection } from 'astro:content'

import Prose from '../../components/prose/Prose.astro'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
  const blogEntries = await getCollection('blog')

  return blogEntries
    .sort(
      (a, b) =>
        a.data.publicationDate.getTime() - b.data.publicationDate.getTime()
    )
    .map((post) => ({
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title="Blog • Tobiasz Ciesielski">
  <div class="mb-10">
    <a href="/blog" class="group text-sm text-gray-500">
      ← <span class="group-hover:underline">Go back</span></a
    >
  </div>

  <Prose>
    <h1 class="text-center">
      {post.data.title}
    </h1>

    <Content />
  </Prose>
</Layout>
