---
const posts = await getCollection('blog')

import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { formatDate } from '../../utils/date'
---

<Layout title="Blog • Tobiasz Ciesielski">
  <h1 class="text-3xl tracking-wider mb-10">Blog ✍️</h1>

  <ul class="flex flex-col gap-5">
    {
      posts.reverse().map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>
            <div class="hover:underline text-lg">{post.data.title}</div>
            <div class="text-xs">
              {formatDate(post.data.publicationDate, 'long')}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
