---

---

<div
  class="prose
         dark:prose-invert
         prose-pre:md:-ml-10 prose-pre:md:-mr-10 prose-pre:m-0
         prose-code:block"
>
  <slot />

  <style>
    :global(pre > code) {
      text-wrap: nowrap;
    }
  </style>
</div>
