---
import Image from 'astro/components/Image.astro'
import Layout from '../layouts/Layout.astro'
import meImage from '../resources/images/me.png'
---

<Layout title="Tobiasz Ciesielski • Front-end Developer">
  <div class="flex flex-col sm:flex-row">
    <div>
      <h1 class="text-3xl mb-3 tracking-wider">Hi there 👋</h1>

      <p class="mb-4 text-gray-300">
        I am software developer, speaker and content creator.
      </p>

      <p class="mb-4">
        My area of expertise includes
        <ul class="ml-4 mb-4 flex-col gap-2 list-disc">
          <li>Angular</li>
          <li>RxJS</li>
          <li>NgRX</li>
          <li>TypeScript</li>
          <li>Tailwind</li>
        </ul>
      </p>

      <p class="mb-8">
        I have extensive knowledge of public speaking, storytelling and content
        creation.
      </p>

      <p class="mb-4">
        Nothing is impossible for me. I have proven this to myself many times.
        One of my greatest achievements are:
      </p>

      <ul class="flex ml-4 flex-col gap-2 list-disc mb-8">
        <li>I fulfilled my lifelong dream of becoming a programmer,</li>
        <li>
          Having 2.5 yoe, I delivered a talk at one of the largest IT
          conferences in Europe - NgPoland,
        </li>

        <li>I am half IronMan finisher</li>
      </ul>

      <p class="mb-8">
        I don't have a clear goal. I am fascinated by the path I'm following. I
        take advantage of every opportunity that comes my way.
      </p>

      <p class="mb-4">
        On this blog I want to share my professional history with you 🫡
      </p>
    </div>
    <div class="self-center w-full max-w-[250px] sm:-mt-10 relative">
      <div
        class="w-full absolute h-8 bg-gradient-to-b from-transparent to-slate-950 bottom-0"
      >
      </div>
      <Image src={meImage} alt="Image of Tobiasz" />
    </div>
  </div>
</Layout>
