---
import Image from 'astro/components/Image.astro'
import Layout from '../layouts/Layout.astro'
import meImage from '../resources/images/me.webp'
---

<Layout title="Tobiasz.Dev • Front-end Developer">
  <div class="flex flex-col sm:flex-row">
    <div>
      <h1 class="text-3xl mb-3 tracking-wider">Hi there 👋</h1>

      <p class="mb-4 text-gray-300">
        My name is Tobiasz.
        I'm a frontend developer with nearly five years of professional experience.
      </p>

      <p class="mb-4">
        My expertise covers <b>Angular</b> and <b>React</b>.
      </p>

      <p class="mb-4">
        I also have extensive knowledge of public speaking, storytelling, and content creation.
      </p>

      <p class="mb-4">
        Nothing is impossible for me—I’ve proven this to myself many times.
      </p>

      <p class="mb-4">
        <i>
          One of my biggest achievements is having spoken twice at <a target="_blank" rel="noreferrer" href="https://ng-poland.pl/">NgPoland</a>, the largest IT conference in Europe!
        </i>
      </p>

      <p class="mb-8">
        I am fascinated by the path I follow and seize every opportunity that comes my way.
      </p>

      <p class="mb-4">
        On this blog, I want to share insights into my professional journey. 🫡
      </p>
    </div>
    <div class="self-center w-full max-w-[250px] sm:-mt-16 relative">
      <div
        class="w-full absolute h-8 bg-gradient-to-b from-transparent to-slate-950 bottom-0"
      >
      </div>
      <Image
        class="object-cover h-[400px] object-top"
        src={meImage}
        alt="Image of Tobiasz"
      />
    </div>
  </div>
</Layout>








