---
import { getCollection } from 'astro:content'

import Prose from '../../components/prose/Prose.astro'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
  const lessonsEntries = await getCollection('todayILearned')

  return lessonsEntries.map((lesson) => ({
    params: {
      slug: lesson.slug,
    },
    props: {
      lesson,
    },
  }))
}

const { lesson } = Astro.props
const { Content } = await lesson.render()
---

<Layout title="Blog • Tobiasz Ciesielski">
  <div class="mb-10">
    <a href="/dzis-nauczylem-sie" class="group text-sm text-gray-500">
      ← <span class="group-hover:underline">Wróć</span></a
    >
  </div>

  <Prose>
    <h1 class="text-center">
      {lesson.data.title}
    </h1>

    <Content />
  </Prose>
</Layout>
