---
import Logo from '../components/logo/logo.astro'

interface Props {
  title: string
}

const { title } = Astro.props

const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="break-words max-w-[700px] p-4 mx-auto font-body bg-slate-950 text-slate-50 tracking-[0.0125rem] mb-20"
  >
    <nav class="mb-18 mt-5">
      <div class="flex justify-between">
        <a href="/">
          <div class="flex sm:items-center gap-2">
            <div class="w-[32px]">
              <Logo />
            </div>

            <div class="sm:flex flex-col hidden sm:visible">
              <h1 class="sm:text-lg font-semibold -mb-1">Tobiasz Ciesielski</h1>
              <p class="sm:text-sm">Front-end Developer</p>
            </div>
          </div>
        </a>

        <ul class="flex gap-3 sm:gap-5">
          <a
            href="/"
            class={currentPath === '/' ? 'underline' : 'hover:underline'}
          >
            <li class="sm:text-sm">About</li>
          </a>

          <a
            href="/blog"
            class={currentPath.includes('/blog')
              ? 'underline'
              : 'hover:underline'}
          >
            <li class="sm:text-sm">Blog</li>
          </a>

          <a
            href="/talks"
            class={currentPath.includes('/talks')
              ? 'underline'
              : 'hover:underline'}
          >
            <li class="sm:text-sm">Talks</li>
          </a>

          <a
            href="/today-i-learned"
            class={currentPath.includes('/today-i-learned')
              ? 'underline'
              : 'hover:underline'}
          >
            <li class="sm:text-sm" id="til">Today I Learned</li>
          </a>
        </ul>
      </div>
    </nav>

    <main>
      <slot />
    </main>
  </body>

  <script>
    const tilElement = document.getElementById('til')

    const checkNavText = (tilElement: HTMLElement) => {
      tilElement.innerText = window.innerWidth > 640 ? 'Today I Learned' : 'TIL'
    }

    if (tilElement) {
      checkNavText(tilElement)
      window.addEventListener('resize', () => {
        checkNavText(tilElement)
      })
    }
  </script>
</html>
