---
interface Props {
  title: string
}

const { title } = Astro.props

const currentPath = Astro.url.pathname
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="max-w-[700px] p-4 mx-auto font-body bg-slate-950 text-slate-50 tracking-[0.0125rem]"
  >
    <nav class="mb-12 mt-5">
      <div class="flex justify-between">
        <a href="/">
          <div class="flex flex-col">
            <h1 class="sm:text-lg font-semibold -mb-1">Tobiasz Ciesielski</h1>
            <p class="text-xs sm:text-sm">Front-end Developer</p>
          </div>
        </a>

        <ul class="flex gap-3 sm:gap-5">
          <a
            href="/"
            class={currentPath === '/' ? 'underline' : 'hover:underline'}
          >
            <li class="text-xs sm:text-sm">O mnie</li>
          </a>

          <a
            href="/blog"
            class={currentPath.includes('/blog')
              ? 'underline'
              : 'hover:underline'}
          >
            <li class="text-xs sm:text-sm">Blog</li>
          </a>

          <a
            href="/talks"
            class={currentPath === '/talks' ? 'underline' : 'hover:underline'}
          >
            <li class="text-xs sm:text-sm">Wystąpienia</li>
          </a>

          <a
            href="/snippets"
            class={currentPath.includes('/til')
              ? 'underline'
              : 'hover:underline'}
          >
            <li class="text-xs sm:text-sm">Dziś nauczyłem się</li>
          </a>
        </ul>
      </div>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>
